# Supabase - isi dengan Project URL kamu
# Dashboard > Project Settings > API
SUPABASE_URL=https://xsacwgxxoptdrgbbzzib.supabase.co
SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzYWN3Z3h4b3B0ZHJnYmJ6emliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2NTQ1MjksImV4cCI6MjEwMTIzMDUyOX0.aLLM-4TECEm4GDIXy82zhF8Nk8_9ROXFjlUaSgoKCT0
SUPABASE_SECRET_KEY=sb_secret_i30c-UGWVxb0yKKDJut1-g_0PO0wYS3
