# Supabase - isi dengan Project URL kamu
# Dashboard > Project Settings > API
SUPABASE_URL=https://xsacwgxxoptdrgbbzzib.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_bBfKnQZ6FHvJTzHMJx-ZOA_asWLJOFf
SUPABASE_SECRET_KEY=sb_secret_i30c-UGWVxb0yKKDJut1-g_0PO0wYS3
