# Dependencies & Build
node_modules/
dist/
build/
android/app/build
android/.gradle
bin/
test/

# Capacitor & Android Specs
android/local.properties
android/app/src/main/assets/public
*.apk
*.aab
*.ipa
*.dmg
*.tar
*.gz
*.xcarchive
*.keystore
android/captures/

# iOS & Capacitor
ios/App/Pods/
ios/App/build/
ios/App/build-output/
ios/App/.build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/Podfile.lock

# Logs
*.log
log.txt
npm-debug.log*
*.hprof

# OS & IDEs
.DS_Store
.vscode/
.idea/
*.iml

# Tauri Desktop Build
src-tauri/target/
src-tauri/gen/

# Private Core Scrapers Source & Build Tools
src-scrapers/
scripts/
android/app/src/main/cpp/
src-tauri/cpp/